root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####
indent_size = 2
indent_style = space
tab_width = 2
insert_final_newline = true

#### .NET Coding Conventions ####
dotnet_style_qualification_for_method = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

#### Diagnostic configuration ####
dotnet_diagnostic.CA1000.severity = warning

#### C# Coding Styles ####
csharp_prefer_braces = when_multiline
csharp_new_line_before_open_brace = none
